body{
    background-color: #1a1a1d;
}
.container{
    background: #fff ;
}
.center-div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.heading{
    width:100%;
    line-height: 80px;
    font-size: 1.4rem;
    background: linear-gradient(45deg, #c3073f, #950740);
    /* background: linear-gradient(45deg, #2f777c, #950740); */
    font-family: 'Anton', sans-serif;
}

form{
    width:400px;
    
}